
*{
  margin:0;
  padding:0;
}
body{
  background-image: url("image/toothbac.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment:fixed;*/
}
.header {

  background-color: rgba(255,255,255,0);
  padding: 75px;

  text-align: center;
}
h1{
	text-align: center;
}


.sliderul{
  width:80%;
  display:inline-block;
  list-style-type:none;
  margin:0px;
  text-align:center;
  margin-top:45px;
  padding:0px;

}
.slideshow-container{
  width:60%;
  height:100px;
  margin:0px auto;
  text-align: center;

}
.spot{
  width: 20px;
  height:20px;
  margin-top: 45px;


  border-radius:100%;
  background-color: gray;
  display:inline-block;
  cursor:pointer;
}
.spot:hover{
  background-color: black;
}
.spot.prev{
  float:left;
}
.spot.next{
  float:right;
}
/*導航欄——————————————————————————————————————————————————*/
#nav{
  
  overflow:hidden;
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgba(220, 247, 248);
  
}
#nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding-top:15px;
  width:25%;
  height:40px;
  text-decoration: none;
  font-size: 20px;
}
#nav a:hover {
  background-color:rgba(255,255,255,0.5);
}

.sticky {
  position: fixed;
 
  top: 0;
  left:0;
  right:0;
  /*消除左右值*/
  
}
#nav2{
  
  width:40px;
  height:40px;
  float:right;
 
}
/*----------------------------------*/
.content{
  font-family: Microsoft JhengHei, Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.7);
 
  margin-left: 80px;
  margin-right: 80px;
  padding: 25px;
}
@media(max-width: 800px){
    /* margin設小一點，白色的背板才不會太小 */
  .content {
    margin: 20px 15px 20px 15px;
  }
  #nav{
    
    display: none;
  }

  p{
    font-size: 18px;
  }
}
